.text-inputs {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-inputs;
}

.text-area {
    @extend .text-inputs;
    height: 10rem;
}